<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="IONSITE" />
	<title>Dao Phượt Midas</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="bxslider/jquery.bxslider.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/style2.css" />
    <link type="text/css" rel="stylesheet" href="fonts/fonts.css" />
    <link type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="css/reponsive.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</head>

<body>
    <section class="header">
        <div class="bg_header"></div>
        <div class="container">
            <div class="row">
                <div class="top_header">
                    <div class="col-md-2 col-sm-12">
                        <div class="logo">
                            <img src="images/logo.png" />
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="slogan">
                             <ul>
                                <li><img src="images/icon_car.png" />Miễn Phí Giao Hàng</li>
                                <li><img src="images/icon_phone.png" />Hotline: 0906.551.895</li>
                                <li><img src="images/icon_mail.png" />daophuotmidas@gmail.com</li>
                             </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dangky">
                            <a href="#">Đăng nhập</a>
                            <a href="#">Đăng ký</a>
                        </div>
                        <div class="shopping-cart">
				            <a href="javascript:void(0);" class="open-shopping-cart" id="open-shopping-cart">
                            	<i class="fa fa-shopping-cart"></i><p class="title-cart">Giỏ hàng</p>
                            	<span class="text-cart">
                            		<span id="cart-total">0 Sản phẩm - 0 VNĐ</span>
                                    <div class="view-cart">
                                        <span>XEM SP</span>
                                        <img src="images/rec.png" />                                       
                                    </div>
                            	</span>
                            </a>
                            <!--<div class="popup-shopping-cart" id="popup-shopping-cart">
                        		<p class="empty">Giỏ hàng của bạn đang trống!</p>
                        	</div>	-->
						</div>
                    </div>
                </div>
            </div>
        </div>     
    </section>
    <section class="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="navigation">
                        <ul>
                            <li class="active">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">Dao Phượt Midas</a>
                            </li>
                            <li>
                                <a href="#">Dụng cụ Phượt</a>
                            </li>
                            <li><a href="#">Sản phẩm khuyến mãi</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="search">
                        <form class="form-search-liquid">
                            <input class="search" type="text" onfocus="if(this.value =='Tìm kiếm...' ) this.value=''" onblur="if(this.value=='') this.value='Tìm kiếm...'" value="Tìm kiếm..." />
                            <i class="fa fa-search icon-libs"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="bxslider">
                      <li><img  src="images/banner/banner.jpg"  /></li>
                      <li><img  src="images/banner/banner.jpg" /></li>
                      <li><img  src="images/banner/banner.jpg"  /></li>
                    </ul>
                </div>
                <div class="col-md-3 resize"> 
                     <div class="news-right">
                        <div class="item-news">
                            <a href="#">
                            <img src="images/icon_new.png"/>
                            <div class="item-news-content">
                                <p class="item-news-title">Shop Dao Phượt</p>
                                <p class="item-news-des">click like trên facebook để cập nhật tin tức mới nhất</p>
                            </div></a>
                        </div>
                        <div class="item-news">
                            <img src="images/icon_new.png"/>
                            <div class="item-news-content">
                                <p class="item-news-title">Shop Dao Phượt</p>
                                <p class="item-news-des">click like trên facebook để cập nhật tin tức mới nhất</p>
                            </div>
                        </div>
                        <div class="item-news">
                            <img src="images/icon_new.png"/>
                            <div class="item-news-content">
                                <p class="item-news-title">Shop Dao Phượt</p>
                                <p class="item-news-des">click like trên facebook để cập nhật tin tức mới nhất</p>
                            </div>
                        </div>
                     </div>            
                </div>
            </div>
            
            <div class="row content_bottom">
                <div class="col-md-3">
                    <div class="danhmuc">
                        <h5>Danh mục</h5>
                        <ul>
                            <li>
                                <a href="#">Hoa sinh nhật </a><i  id="1" class="fa fa-caret-right plus"></i>                         
                                <ul class="submenu 1">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><i  id="2" class="fa fa-caret-right"></i>      
                                <ul class="submenu 2">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>               
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><i id="3" class="fa fa-caret-right"></i>                       
                                <ul class="submenu 3">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>                                  
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><i id="4" class="fa fa-caret-right"></i>                               
                                <ul class="submenu 4">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>                                  
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="hoayeuthich">
                        <h5>Sản phẩm khuyến mãi</h5>
                        <div class="hoa">
                            <div class="img">
                                <img src="images/products/knife1.png" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="percent">GIẢM 26%</p>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="images/products/knife1.png" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="images/products/knife1.png" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="images/products/knife1.png" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                    <div class="hotline">
                        <a href="#"><img style="width: 100%;" src="images/banner-left.png"/></a>
                    </div>
                </div>
                
                <div class="col-md-9 resize">
                    <!-- hoa hộp--->
                    <div class="product_list">
                        <div class="category">
                            <h2>Sản phẩm mới nhất</h2>
                        </div>
                        <ul class="products">
                            <li>
                                <a href="#"><img src="images/sp-demo.jpg">
                                </a>
                                <div class="text">
                                    <h5>Dao phượt Midas Ecuardo
                                    </h5>
                                    <p class="old-price"> 1.000.000 </p>
                                    <p class="price">830.000</p>
                                </div>
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                                <div class="percent">GIẢM 26%</div>
                            </li>
                            <li>
                                <a href="#" ><img src="images/sp-demo.jpg">
                                </a>
                                <div class="text">
                                    <h5>Dao phượt Midas Ecuardo
                                    </h5>
                                    <p class="price">830.000</p>
                                </div>
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </li>
                            <li>
                                <a href="#" ><img src="images/sp-demo.jpg">
                                </a>
                                <div class="text">
                                    <h5>Dao phượt Midas Ecuardo
                                    </h5>
                                    <p class="price">830.000</p>
                                </div>
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </li>
                            <li>
                                <a href="#"><img src="images/sp-demo.jpg">
                                </a>
                                <div class="text">
                                    <h5>Dao phượt Midas Ecuardo
                                    </h5>
                                    <p class="price">830.000</p>
                                </div>
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </li>
                            <li>
                                <a href="#"><img src="images/sp-demo.jpg">
                                </a>
                                <div class="text">
                                    <h5>Dao phượt Midas Ecuardo
                                    </h5>
                                    <p class="price">830.000</p>
                                </div>
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- quà tặng --->
                    <div class="product_list">
                        <div class="tab_qua" role="tabpanel">
                        
                          <!-- Nav tabs -->
                          <ul class="tab_items" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Dao phượt</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Dụng cụ phượt</a></li>
                          </ul>
                        
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-md-3 rmr">
                                        <div class="product_item">
                                            <a href="#"><img src="images/sp-demo.jpg">
                                            </a>
                                            <div class="text">
                                                <h5>Dao phượt Midas Ecuardo
                                                </h5>
                                                <p class="old-price"> 1.000.000 </p>
                                                <p class="price">830.000</p>
                                            </div>
                                            <div class="cart">
                                                <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                            </div>
                                            <div class="percent">GIẢM 26%</div>
                                        </div>                            
                                    </div>
                                    <div class="col-md-3 rmr">
                                        <div class="product_item">
                                            <a href="#"><img src="images/sp-demo.jpg">
                                            </a>
                                            <div class="text">
                                                <h5>Dao phượt Midas Ecuardo
                                                </h5>
                                                <p class="price">830.000</p>
                                            </div>
                                            <div class="cart">
                                                <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="col-md-3 rmr">
                                        <div class="product_item">
                                            <a href="#"><img src="images/sp-demo.jpg">
                                            </a>
                                            <div class="text">
                                                <h5>Dao phượt Midas Ecuardo
                                                </h5>
                                                <p class="price">830.000</p>
                                            </div>
                                            <div class="cart">
                                                <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                            </div>
                                        </div>                                      
                                    </div>
                                    <div class="col-md-3 rmr">
                                        <div class="product_item">
                                            <a href="#"><img src="images/sp-demo.jpg">
                                            </a>
                                            <div class="text">
                                                <h5>Dao phượt Midas Ecuardo
                                                </h5>
                                                <p class="price">830.000</p>
                                            </div>
                                            <div class="cart">
                                                <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="col-md-3 rmr">
                                        <div class="product_item">
                                            <a href="#"><img src="images/sp-demo.jpg">
                                            </a>
                                            <div class="text">
                                                <h5>Dao phượt Midas Ecuardo
                                                </h5>
                                                <p class="price">830.000</p>
                                            </div>
                                            <div class="cart">
                                                <a href="#"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>    
                                                  
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">

                            </div>

                          </div>
                        
                        </div>
                    </div>
                </div>
                <!--- giới thiêu---->
                

            </div>
            
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row content_footer">
                <div class="col-md-3">
                    <h6>Liên hệ</h6>
                    <div class="box-footer">
                        <p><i class="glyphicon glyphicon-map-marker"></i> 02 Lê Đình Lý, Q.Hải Châu, TP.Đà Nẵng</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 0123.456.789</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> giangviet@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Tin tức</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Làm thế nào để mua hoa với giá ưu đãi tốt nhất</a></li>
                            <li><a href="#">Giảm giá 20% dịp 8/3</a></li>
                            <li><a href="#">Hướng dẫn đặt hoa tại Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">TOP các loại hoa đẹp nhất thế giới</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Dịch vụ</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Điện hoa Đà Nẵng</a></li>
                            <li><a href="#">Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">Giao hàng tận nhà</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Kết nối</h6>
                    <div class="box-footer">
                        <a href="#"><img src="images/facebook.png"/> FACEBOOK</a><br />
                        <a href="#"><img src="images/twitter.png"/> TWITTER</a><br />
                        <a href="#"><img src="images/google.png"/> GOOGLE</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="col-md-6">
                    <p>Copyright &copy; 2015 <span style="color: #9E5022;">Dao phượt Midas</span> Travel All rights reserved.</p>
                </div>
                <div class="col-md-6">                    
                    <p style="float: right;">Thiết kế và phát triển bởi <a href="http://ionsite.vn/" title="thiet ke web tai da nang"><strong style="color: #0091DC;">IONSITE</strong></a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>