<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="IONSITE" />
	<title>CÔNG TY CỔ PHẦN XÂY DỰNG TRÀ ANH</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="../bxslider/jquery.bxslider.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/style2.css" />
    <link type="text/css" rel="stylesheet" href="../fonts/fonts.css" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="../css/reponsive.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="top_header">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="../images/logo.png" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="slogan">
                             <img src="../images/traoguiyeuthuong.png" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navigation">
                        <ul>
                            <li>
                                <a href="#">Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">Dịp cắm hoa</a>
                            </li>
                            <li><a href="#">Kiểu cắm hoa</a></li>
                            <li><a href="#">Hình thức thanh toán</a></li>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="bxslider">
                      <li><img  src="../images/banner.jpg"  /></li>
                      <li><img  src="../images/banner.jpg" /></li>
                      <li><img  src="../images/banner.jpg"  /></li>
                    </ul>
                </div>
                <div class="col-md-3" style="padding-left: 0px;">
                    <div class="banner pic1">
                        <a href="#">
                            <div class="flip-container vertical" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <img style="width: 100%; height:215px;" src="../images/banner2.jpg">
                                    </div>
                                    <div class="back">
                                        <div class="back-content1">
                                            <p>Sản phẩm hoa mua hè</p>
                                        </div>
                                        <!-- back content -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="banner pic2">
                        <a href="#">
                            <div class="flip-container vertical" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <img style="width: 100%; height:100px;" src="../images/banner3.jpg">
                                    </div>
                                    <div class="back">
                                        <div class="back-content2">
                                            <p>Sản phẩm hoa mua hè</p>
                                        </div>
                                        <!-- back content -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>                      
                </div>
            </div>
            
            <div class="row content_bottom">
                <div class="col-md-3">
                    <div class="danhmuc">
                        <h5>Danh mục</h5>
                        <ul>
                            <li>
                                <a href="#">Hoa sinh nhật </a><img class="plus" id="1" style="float: right;" src="../images/plus.png" />
                                <hr style=" border-bottom: 1px dashed #ccc; margin:4px;" />
                                <ul class="submenu 1">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><img class="plus" id="2" style="float: right;" src="../images/plus.png" />
                                <hr style=" border-bottom: 1px dashed #ccc; margin:4px;" />
                                <ul class="submenu 2">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><img class="plus" id="3" style="float: right;" src="../images/plus.png" />
                                <hr style=" border-bottom: 1px dashed #ccc; margin:4px;" />
                                <ul class="submenu 3">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hoa sinh nhật </a><img class="plus" id="4" style="float: right;" src="../images/plus.png" />
                                <hr style=" border-bottom: 1px dashed #ccc; margin:4px;" />
                                <ul class="submenu 4">
                                    <li><a href="#">Hoa sinh nhật cho mẹ</a></li>
                                    <li><a href="#">Hoa sinh nhật người yêu</a></li>
                                    <li><a href="#">Hoa sinh nhật xếp</a></li>
                                    <li><a href="#">Hoa sinh nhật giỏ</a></li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="phithamkhao">
                        <div class="title">
                            <h5>THAM KHẢO</h5>
                            <p>PHÍ GIAO HOA TỚI</p>
                        </div>
                        <div class="select">
                            <select>
                                <option>Đà Nẵng</option>
                                <option>Huế</option>
                                <option>Sài gòn</option>
                                <option>Hà Nội</option>
                            </select>
                            <select class="quan">
                                <option value="200.000 đ">Hải Châu</option>
                                <option value="150.000 đ">Thanh Khê</option>
                                <option value="100.000 đ">Quận Ba</option>
                                <option value="FREE SHIP">Liên Chiểu</option>
                            </select>
                        </div>
                        <div class="lephi">
                            <p class="gia_ship">FREE SHIP</p>
                        </div>
                    </div>
                    <div class="hotline">
                        <a href="#"><img style="width: 100%;" src="../images/hotline.jpg"/></a>
                    </div>
                    <div class="pttt">
                        <a href="#"><img style="width: 100%;" src="../images/pttt.jpg"/></a>
                    </div>

                    <div class="hoayeuthich">
                        <h5>Hoa yêu thích</h5>
                        <div class="hoa">
                            <div class="img">
                                <img src="../images/hoa/img17.jpg" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="../images/hoa/img17.jpg" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="../images/hoa/img19.jpg" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                        <div class="hoa">
                            <div class="img">
                                <img src="../images/hoa/img18.jpg" />
                            </div>
                            <div class="chu">
                                <a href="">Hoa hông tình yêu</a>
                                <p class="price">380.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product_box ">
                        <div class="row">
                            <div class="col-md-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">Trang chủ</a></li>
                                    <li>All Flowers</li>
                                </ol>
                            </div>                        
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div> 
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="#"><img src="../images/hoa/img1.jpg">
                                    </a>
                                    <h5>SCREEN PROTECTOR
                                    </h5>
                                    <p>Giỏ hoa kết hợp nhiều màu sắc từ các loại hoa...
                                    </p>
                                    <p class="price">830.000 VNĐ</p>
                                    <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pagination">
                                    <div>
                                        <strong>1</strong>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
                <!--- giới thiêu---->
                

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="service">                   
                        <a href="#"><img src="../images/freeship.jpg" /></a>
                        <a href="#"><img src="../images/quatang.jpg" /></a>
                        <a href="#"><img src="../images/khuyenmai.jpg" /></a>
                        <a href="#"><img src="../images/lienhe.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row content_footer">
                <div class="col-md-3">
                    <h6>Liên hệ</h6>
                    <div class="box-footer">
                        <p class="name-shop">Dịch vụ hoa tươi đà nẵng</p>
                        <p><i class="glyphicon glyphicon-map-marker"></i> 02 Lê Đình Lý, Q.Hải Châu, TP.Đà Nẵng</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 0123.456.789</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> giangviet@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Tin tức</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Làm thế nào để mua hoa với giá ưu đãi tốt nhất</a></li>
                            <li><a href="#">Giảm giá 20% dịp 8/3</a></li>
                            <li><a href="#">Hướng dẫn đặt hoa tại Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">TOP các loại hoa đẹp nhất thế giới</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Dịch vụ</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Điện hoa Đà Nẵng</a></li>
                            <li><a href="#">Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">Giao hàng tận nhà</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Kết nối</h6>
                    <div class="box-footer">
                        <a href="#"><img src="../images/facebook.png"/> FACEBOOK</a><br />
                        <a href="#"><img src="../images/twitter.png"/> TWITTER</a><br />
                        <a href="#"><img src="../images/google.png"/> GOOGLE</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Copyright &copy; 2015 <span style="color: #F04E68;">Hoa tươi Đà Nẵng</span> Travel All rights reserved.</p>
                </div>
                <div class="col-md-6">                    
                    <p style="float: right;">Thiết kế và phát triển bởi <a href="http://ionsite.vn/" title="thiet ke web tai da nang"><strong style="color: #0091DC;">IONSITE</strong></a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>