<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="IONSITE" />
	<title>CÔNG TY CỔ PHẦN XÂY DỰNG TRÀ ANH</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="../bxslider/jquery.bxslider.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/style2.css" />
    <link type="text/css" rel="stylesheet" href="../fonts/fonts.css" />
    <link type="text/css" rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="../css/reponsive.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="top_header">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="../images/logo.png" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="slogan">
                             <img src="../images/traoguiyeuthuong.png" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navigation">
                        <ul>
                            <li>
                                <a href="#">Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">Dịp cắm hoa</a>
                            </li>
                            <li><a href="#">Kiểu cắm hoa</a></li>
                            <li><a href="#">Hình thức thanh toán</a></li>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="container">
            <div class="row content_bottom">
                <div class="col-md-12">
                    <div class="product_box ">
                        <div id="map" class="map"></div>
                            <div class="row">
                                <div class="col-md-9">
                                    <form method="post" class="form-inline">
                                        <input type="hidden" name="form" value="contact">
                                        <div class="form-group">
                                            <input class="form-control" name="name" type="text" id="name" value="" placeholder="Họ và tên"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="name" type="text" id="name" value="" placeholder="Email"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="name" type="text" id="name" value="" placeholder="Tiêu đề"/>
                                        </div>
                                        <div>
                                            <textarea class="contact-area" name="message" id="message" rows="7" placeholder="Nội dung"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default right">Send Message</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <div class="address">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <p>02 Ngô Tất Tố, Phường Hải Châu, Quận Hải Châu, TP Đà Nẵng</p>
                                    </div>
                                    <div class="phone">
                                        <i class="glyphicon glyphicon-earphone"></i>
                                        <p>0511.3 624 544</p>
                                    </div>
                                    <div class="mail">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                        <p>traanh.jsc@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!--- giới thiêu---->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="service">                   
                        <a href="#"><img src="../images/freeship.jpg" /></a>
                        <a href="#"><img src="../images/quatang.jpg" /></a>
                        <a href="#"><img src="../images/khuyenmai.jpg" /></a>
                        <a href="#"><img src="../images/lienhe.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="../js/map/gmap3.min.js"></script>   
    <script>
    	$(document).ready(function(){
    		$("#map").gmap3({
    			marker: {
    				address: "02 Ngô Tất Tố, Hải Châu, TP Đà Nẵng",
    				options: {
    					icon: "../images/location.png"
    				}
    			},
    			overlay: {
    				address: "02 Ngô Tất Tố, Hải Châu, TP Đà Nẵng",
    				options: {
    					content: '<div class="style-tooltip-map"><i class="icon-ib icon-scissors"></i>02 Ngô Tất Tố, Hải Châu, TP Đà Nẵng</div>',
    					offset: {
    						y: -120,
    						x: 20
    					}
    				}
    			},
    			map: {
    				options: {
    					styles: [{
    						stylers: [{
    							"saturation": -100
    						}]
    					}, ],
    					zoom: 16
    				}
    			}
    		});
    	});
    </script>
    <section class="footer">
        <div class="container">
            <div class="row content_footer">
                <div class="col-md-3">
                    <h6>Liên hệ</h6>
                    <div class="box-footer">
                        <p class="name-shop">Dịch vụ hoa tươi đà nẵng</p>
                        <p><i class="glyphicon glyphicon-map-marker"></i> 02 Lê Đình Lý, Q.Hải Châu, TP.Đà Nẵng</p>
                        <p><i class="glyphicon glyphicon-earphone"></i> 0123.456.789</p>
                        <p><i class="glyphicon glyphicon-envelope"></i> giangviet@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Tin tức</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Làm thế nào để mua hoa với giá ưu đãi tốt nhất</a></li>
                            <li><a href="#">Giảm giá 20% dịp 8/3</a></li>
                            <li><a href="#">Hướng dẫn đặt hoa tại Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">TOP các loại hoa đẹp nhất thế giới</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Dịch vụ</h6>
                    <div class="box-footer">
                        <ul>
                            <li><a href="#">Điện hoa Đà Nẵng</a></li>
                            <li><a href="#">Hoa tươi Đà Nẵng</a></li>
                            <li><a href="#">Giao hàng tận nhà</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Kết nối</h6>
                    <div class="box-footer">
                        <a href="#"><img src="../images/facebook.png"/> FACEBOOK</a><br />
                        <a href="#"><img src="../images/twitter.png"/> TWITTER</a><br />
                        <a href="#"><img src="../images/google.png"/> GOOGLE</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Copyright &copy; 2015 <span style="color: #F04E68;">Hoa tươi Đà Nẵng</span> Travel All rights reserved.</p>
                </div>
                <div class="col-md-6">                    
                    <p style="float: right;">Thiết kế và phát triển bởi <a href="http://ionsite.vn/" title="thiet ke web tai da nang"><strong style="color: #0091DC;">IONSITE</strong></a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>